<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav style="float: right;">
        <ul>
          <button id="toggle-switch" class="switch" onclick="toggleDarkMode()"><i class="icon-toggle-on"></i></button>

            {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<a class="icon-rss" href="%s">RSS</a>` .Permalink | safeHTML }}
            {{ end -}}
            {{ range where .Site.Home.Pages "Title" "!=" "Posts" }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <hr>
</header>
